  
input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
}

input{
  width: 100%;    
  border-radius: 0.25rem;
  padding: 1rem;
}

label {
    background-color: #363b41;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 1.25rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
  background-color: #3b4148;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

 input:focus,
 input:hover {
  background-color: #434a52;
}

.form__input {
    flex: 1;
  }
  