
button {
    width: 100%;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 1rem;
    height: 50px;
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
}

.disabled {
    background-color: darkgray !important; 
    cursor: not-allowed !important;
}

.disabled:hover,
.disable:focus {
    background-color: darkgray !important;
}

.createAccount {
    background-color: dodgerblue;
    color: #eee;
    font-weight: 700;
    text-transform: uppercase;
}

.signIn {
    background-color: #ea4c88;
    color: #eee;
    font-weight: 700;
    text-transform: uppercase;
}

.signUp {
    background-color: darkslategrey;
    color: #eee;
    font-weight: 700;
    text-transform: uppercase;
}

.logout {
    background-color: sandybrown;
    color: #eee;
    font-weight: 700;
    text-transform: uppercase;
}

.logout:focus,
.logout:hover {
    background-color: aquamarine;
}

.createAccount:focus,
.createAccount:hover {
    background-color: deepskyblue;
}

.signUp:focus,
.signUp:hover {
    background-color: dimgrey;
}

.signIn:focus,
.signIn:hover {
    background-color: #e686aa;
}

